{% extends 'base.html' %}

{% block head %}
<title>Nombre de tâches réussies par cours</title>
<ul>
    <li><a href="{{ url_for('index') }}">Acceuil</a></li>
    <li><a href="{{ url_for('p2') }}">Nombre de réussites par rapport aux nombre d'essais pour le cours LSINF1101-PYTHON</a></li>
    <li><a href="{{ url_for('p3') }}">Notes moyenne par tâches</a></li>
</ul>
{% endblock %}

{% block body %}
<canvas id="graphique" width="150px" height="50px"></canvas>
		<script>
			Chart.defaults.global.title.display=true
			Chart.defaults.global.title.text="Nombre de tâches réussies par cours"
		</script>
        <script>
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('graphique').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
        type: 'pie',   // le type du graphique
        data: {       // les données
            labels: {{noms | safe}},
            datasets: [{
                        label: "Nombre de tache réussie",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                        data: {{notes | safe}}
                       }]
               }
             }
        );
        </script>
{% endblock %}