{% extends 'base.html' %}

{% block head %}
<title>Réussite par tâche</title>
<ul>
    <li><a href="{{ url_for('index') }}">Accueil</a></li>
    <li><a href="{{ url_for('p1') }}">Nombre de soumissions réussies par cours</a></li>
    <li><a href="{{ url_for('p3') }}">Notes moyenne par tâches</a></li>
</ul>
{% endblock %}

{% block body %}
<canvas id="graphique" width="100px" height="50px"></canvas>
	<script>
			Chart.defaults.global.title.display=true
			Chart.defaults.global.title.text="Nombre de réussite par rapport aux nombre d'essais pour chaque tâche pour le cours LSINF1101-PYTHON"
	</script>
    <script>
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('graphique').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
        type: 'line',   // le type du graphique
        data: {       // les données
            labels: {{tasks | safe}},
            datasets: [{
                        label: 'Nombre de réussite',
                        data: {{succ | safe}},
                        backgroundColor: "rgba(0,255,0,0.2)"
                       }, {
            			label: "Nombre d'essai",
            			data: {{soum | safe}},
            			backgroundColor: "rgba(255,0,0,0.2)",
            			// Changes this dataset to become a line
            			type: 'line'
        				}]
               }
             }
        );
    </script>
{% endblock %}