{% extends 'base.html' %}

{% block head %}
<title>Réussite par tâche</title>
<li><a href="{{ url_for('index') }}">Nombre d'essais moyen par tâche</a></li>
<li><a href="{{ url_for('p3') }}">Note moyenne par tâche</a></li>
{% endblock %}

{% block body %}
<canvas id="graphique" width="50px" height="50px"></canvas>
    <script>
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('graphique').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
        type: 'line',   // le type du graphique
        data: {       // les données
            labels: {{tasks | safe}},
            datasets: [{
                        label: 'Nombre de réussite',
                        data: {{succ | safe}},
                        backgroundColor: "rgba(0,255,0,0.2)"
                       }, {
            			label: "Nombre d'essai",
            			data: {{soum | safe}},
            			backgroundColor: "rgba(255,0,0,0.2)",
            			// Changes this dataset to become a line
            			type: 'line'
        				}]
               }
             }
        );
    </script>
{% endblock %}